@import '../../base/variables';

.header {
  display: flex;
  
  .container-fluid {
    display: flex;
    justify-content: space-between;
    .nav {
      flex-grow: 1;
      background-color: white;
      box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
      .menu-items {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .selected-page{
          background-color: $main-color;
          color: white !important;
        }
        .selected-page a:hover{
          background-color: $main-color;
          color: white !important;
        }
      }
      li {
        position: relative;
        &:hover .submenu{
          opacity: 1;
          transform: translateY(0);
        }
        .submenu{
          a{
            padding: .5rem;
            border-radius: .2rem;
          }
          display: grid;
          text-align: start;
          justify-content: start;
          span{
            margin-right: .5rem;
          }
          gap: .5rem;
          opacity: 0;
          transform: translateY(-150%);
          transition: opacity .3s ease-in-out;
          top: 48px;
          background-color: rgb(27, 28, 30);
          border-radius: .3rem;
          z-index: 600;
          color: white;
          position: absolute;
          height: fit-content;
        }
        height: 50px;
        a {
          height: 100%;
          padding: 0 30px;
          display: flex;
          align-items: center;
          color: inherit;
          transition: background-color .2s ease-in-out;
        }
        a:hover {
          background-color: #f0f0f06b;
        }
        
      }
      li:first-child{
        margin-right: auto;
      }
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        min-height: 100vh;
        min-width: 250px;
        z-index: 999;
        background-color: rgb(33, 31, 31);
        color: white;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        a {
          min-height: 50px;
        }
        .dropdown{
          position: relative;
         .service-submenu {
          display: none;
          width: 100%;
          li {
            a {
              display: flex;
              padding-left: 3rem;
              width: 100%;
            }
          }
         }
         .service-submenu.open{
          display: block;
         }
          display: flex;
          height: fit-content;
          flex-direction: column;
          align-items: center;
          .chevron {
            transition: transform .3s ease-in-out;
            background-image: url('/imgs/chevron.svg');
            background-position: center;
            background-size: cover;
            transform: rotate(180deg);
            color: white;
            width: 24px;
            height: 24px;
          }
        }
        li {
          width: 100%;
          a {
            display: flex;
            gap: 1rem;
            width: 100%;
          }
        }
      }
    }
  }
}

.menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {display: block;}
}
@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}