@import '../base/variables';

.main-page-congress {
  padding: 5rem $size-1;
  margin-bottom: $size-3;
  .container {
    display: grid;
    place-items: center;
    color: white;
    h2 {
			font-weight: bold;
      max-width: 600px;
			font-size: 1.5rem;
		}
  }

	padding: $size-2 $size-1 $size-3;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgb(58, 123, 180) 0%,
		rgb(156, 29, 253) 50%,
		rgb(0, 43, 235) 100%,
	);
}
	.container {
    .alianza {
      display: grid;
      place-items: center;
      gap: 1rem;
      margin-bottom: $size-3;
    }
		text-align: center;
		display: grid;
		gap: $size-1;
		p {
			max-width: 700px;
			margin: 0 auto;
			font-size: 1.3rem;
		}
    .mas-detalle-btns{
      margin-bottom: 5rem;
      .main-button{
        display: flex;
        gap: .5rem;
        width: 100%;
      }
      .white-variant{
        background-color: white;
        color: #000;
      }
      display: flex;
      width: fit-content;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      gap: .5rem;
    }
    .congresses{
      display: grid;
      gap: .5rem;
      grid-template-columns: repeat(3, 1fr);
      .congress-card {
        img{
          background-color: white;
          border-radius: .5rem;
        }
        p{
          font-size: 1rem;
          color: rgba(72, 72, 72, 0.821);
        }
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0.5rem;
        border-radius: 0.3rem;
      }
    }
	}
@media screen and (max-width: 1008px) {
  .main-page-congress {
    margin: $size-3 0;
  }
  .container{
    .congresses {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 640px) {
  .main-page-congress {
  }
  .container{
    .congresses {
      grid-template-columns: 1fr;
    }
  }
}