@import '../base/variables';

.wave {
	--size: 50px;

	mask: radial-gradient(var(--size) at 50% 0%, #0000 99%, red 101%) 50%
		var(--size) / calc(4 * var(--size)) 100% repeat-x;
}

.service-main {
	display: grid;
	.service-content {
		background-color: #21d4fd;
		border-bottom-left-radius: 50% 80px;
		border-bottom-right-radius: 50% 80px;
		background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
		display: grid;
		grid-template-columns: auto auto;
		justify-content: center;
		gap: 1rem;
		padding: 4rem 1rem;
		color: white;
		img {
			max-width: 600px;
			width: 100%;
			display: flex;
			justify-content: end;
			object-fit: cover;
			border-radius: 0.3rem;
			box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.193);
		}

		p {
			max-width: 700px;
			line-height: 1.6;
			padding-bottom: 1rem;
		}
		h1 {
			font-size: $size-3;
			margin-bottom: 2rem;
			width: fit-content;
			font-weight: bold;
		}
	}
	.experience {
		padding: 4rem 1rem 1rem;
		display: flex;
		flex-wrap: wrap;
		text-align: start;
		.experience-content {
			display: grid;
			gap: 1rem;
		}
		h2 {
			font-size: $size-2;
		}
		p {
			max-width: none;
		}
	}
	.mission {
    padding: 1rem;
    p {
      max-width: none;
    }
		text-align: left;
		.intro {
			border-radius: 1rem;
			img {
				width: 100%;
				border-radius: 5px;
				box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.325);
				position: relative;
			}
			.intro-content {
				h2 {
					font-size: $size-2;
					width: 100%;
				}
				p {
					font-size: 1.2rem;
          max-width: none;
				}
			}
		}
		.mission-content {
			ul {
				display: grid;
				gap: 1rem;
				padding: 1rem 0;
				li {
          h3 {
            font-weight: bold;
          }
					list-style-type: disc;
					p {
						margin-left: 2rem;
						max-width: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1020px) {
	.service-main {
		.service-content {
			grid-template-columns: 1fr;
			justify-content: center;
		}
	}
}

/* Estilos para dispositivos pequeños */
@media only screen and (max-width: 600px) {
	.service-main {
	}
}
/* Estilos para la imagen */
.image-container {
	text-align: center;
	margin-bottom: 20px;
}
.image-container img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
