$size-1: clamp(1.25rem, 4vw, 1.25rem);
$size-2: clamp(1.25rem, 4vw, 2.25rem);
$size-3: clamp(1.25rem, 4vw, 4.25rem);
$size-4: clamp(1.25rem, 4vw, 5.25rem);
$size-5: clamp(1.25rem, 4vw, 6.25rem);

$main-color: #4362f8;