@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;400&family=Rufina:wght@400;700&family=Varela&display=swap');

* {
	font-family: 'Martel Sans', sans-serif;
	color: rgb(33, 33, 33);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
	gap: 1rem;
	text-align: center;
}

.logo {
	height: 80px;
}

p {
	max-width: 750px;
	color: rgb(57, 57, 57);
}

/* font-family: 'Martel Sans', sans-serif;
font-family: 'Rufina', serif;
font-family: 'Varela', sans-serif; */
